:root {
  --main1: #1f4d8e;  
  --main2: #5681bf;  
  --main3: #ffb300;  
  --main4: #ffce59;  
  --main5: #ff9500;  
  --text-gray: #545454;
  --text-gray2: #374958;
  --text-black: #181D27;
  --text-black2: #121212;
  --main-gradient: linear-gradient(180deg, #41E0DE 0%, #0B167F 100%);
} 
@font-face{
  font-family: SukhumvitSet-Bold;
  src: url(../fonts/SukhumvitSet-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-Light;
  src: url(../fonts/SukhumvitSet-Light.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-Medium;
  src: url(../fonts/SukhumvitSet-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-SemiBold;
  src: url(../fonts/SukhumvitSet-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-Text;
  src: url(../fonts/SukhumvitSet-Text.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-Thin;
  src: url(../fonts/SukhumvitSet-Thin.ttf);
  font-style: normal;
  font-variant:initial;
}   
   
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: 'SukhumvitSet-Text', sans-serif;
  font-style: normal; 
  overflow-x: hidden !important;
}   
nav .navbar-nav .nav-item{
  margin-left: 2px;
  margin-right: 2px;
} 
nav .navbar-nav .nav-item .nav-link{ 
  width: 105px;
  text-align: center;
  transition: .33s all ease-out;   
  white-space: nowrap;
  font-size: 18px;
  font-family: SukhumvitSet-Bold;
  padding-bottom: 6px;
}
nav .navbar-nav .nav-item.active .nav-link{
  background-color: var(--main2); 
  border-radius: 100px;
  color: #fff;
}
nav .navbar-nav .nav-item:hover .nav-link{
  background-color: var(--main2); 
  border-radius: 100px;
  color: #fff;
} 
.nav-item.language-nav{ 
  width: 40px;
}
.nav-item.language-nav:hover .nav-link{  
  background-color: transparent !important; 
}
.nav-item .dropdown-toggle{
  color: black !important;
}
.nav-item.language-nav .dropdown-menu{
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.nav-item.language-nav .dropdown-menu img{
  display: block;
  margin: auto;
}
.nav-item.language-nav .dropdown-menu.show{
  width: 70px;
  min-width: 70px;
}
.nav-item.language-nav .dropdown-menu li{
  width: 70px;
  min-width: 70px;
}  
.nav-item.language-nav .dropdown-menu li:hover a{ 
  background: var(--main2);
}  
.nav-item.language-nav .dropdown-menu[data-bs-popper] { 
  left: 8px; 
} 
.map-nav{
  height: 56px;  
  background: var(--main1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 15px 100px;
  font-size: 16px;
  line-height: 25px;  
  font-family: SukhumvitSet-Bold;
  color: #FFFFFF;
  border-radius: 0px;
}
.map-nav span{ 
  color: #FFB800;
}

.bbold {
  text-shadow: -.5px -.5px 0 var(--main1), .5px -.5px 0 var(--main1), -.5px .5px 0 var(--main1), .5px .5px 0 var(--main1);
}
.sec1{ 
  background-image: url(../images/bg-sec1.jpg);
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto; 
} 
.sec1 .menut{ 
  background-color: rgba(255, 255, 255, 0.8); 
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  top: 0;
  width: 100%;
  padding: 20px 30px 20px 30px;
}
.sec1 .menut ul{
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.sec1 .menut ul li{ 
  transition: .33s all ease-out;   
}
.sec1 .menut ul li a{
  font-family: 'SukhumvitSet-SemiBold', sans-serif;
  color: #121212;
  font-size: 20px;
  transition: .33s all ease-out;   
}
.sec1 .menut ul li:hover a{ 
  text-decoration: underline !important;
}
.form-con{
  background-color: rgba(255, 255, 255, 0.75); 
  padding: 40px;
  margin-top: 90px;
  margin-bottom: 40px;
} 
.form-con .date + img{
  position: absolute;
  right: 16px;
  top: 36px;
  height: 30px;
} 
.form-con .form-label{
  font-family: SukhumvitSet-SemiBold;
} 
.form-con .form-control{
  font-family: SukhumvitSet-SemiBold;
  height: 45px;
  font-size: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

} 
.form-con .form-select{
  font-family: SukhumvitSet-SemiBold;
  height: 45px;
  font-size: 18px;
} 
.form-con .btn{
  background-color: var(--main4); 
  border-radius: 100px;
  font-family: SukhumvitSet-Bold;
  font-size: 20px;
  min-width: 250px;
  padding: 10px 10px 6px;
  border-right: 8px solid var(--main5);
  border-bottom: 7px solid var(--main5);
  margin-top: 10px;
}
.sec1 .bgh{ 
  background-image: url(../images/bg1s.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto; 
  position: absolute;
  left: 0;
  height: 100%;
  width: 70%;
}

.sec2{
  padding-top: 50px;
  padding-bottom: 50px;
}
.sec2 h2{ 
  font-size: 42px;
  color: var(--main1);
  font-family: SukhumvitSet-Bold;
  font-weight: bold;
  text-align: center;
  color: var(--text-gray);
  text-shadow: -.5px -.5px 0 var(--text-gray), .5px -.5px 0 var(--text-gray), -.5px .5px 0 var(--text-gray), .5px .5px 0 var(--text-gray);
}
.sec2 h2 strong { 
  color: var(--main3);
  text-shadow: -.5px -.5px 0 var(--main3), .5px -.5px 0 var(--main3), -.5px .5px 0 var(--main3), .5px .5px 0 var(--main3);
}
.sec2 h2 span {
  font-size: 48px;
  font-weight: bold;
  color: var(--text-gray2);
  text-shadow: -.5px -.5px 0 var(--text-gray2), .5px -.5px 0 var(--text-gray2), -.5px .5px 0 var(--text-gray2), .5px .5px 0 var(--text-gray2);
}
.sec2 .reason-item img{
  margin: auto;
  display: block;
  height: 120px;
  margin-bottom: 20px
}
.sec2 .reason-item h3{
  font-size: 30px;
  font-family: SukhumvitSet-Bold; 
  color: #000;
  text-align: center;
  margin-bottom: 15px
}
.sec2 .reason-item p{
  font-size: 24px;
  color: #000;
  text-align: center;
  font-family: SukhumvitSet-Medium;
  margin-bottom: 30px
}
.sec2 .reason-item p span{
  font-family: SukhumvitSet-Bold; 
  color: var(--main3); 
}
.sec3{  
  background-image: url(../images/bg-sec3.jpg);
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto;  
  padding-top: 190px;
  padding-bottom: 190px;
}  
.sec3 h2{ 
  font-size: 64px;
  color: var(--main1);
  font-family: SukhumvitSet-Bold;
  font-weight: bold;
  text-align: center;
  color: #fff; 
  box-shadow: 0px 10px 10px var(--sds-size-depth-100) rgba(0, 0, 0, 0.83); 
  line-height: 150%;
}
.sec3 h2 i{ 
  color: var(--main3); 
}
.sec3 h2 strong{ 
  font-size: 52px;
}
.sec3 h2 span{ 
  color: #fff; 
  font-size: 50px;
  text-shadow: -.5px -.5px 0 #fff, .5px -.5px 0 #fff, -.5px .5px 0 #fff, .5px .5px 0 #fff;
}
.sec3 .vix{
  position: absolute;
  left: 0;
  top: 7%;
  z-index: 8; 
}
.sec3 .vix video{
  width: 80%;
  display: block;
  margin: auto;  
}
.sec3 .vix:after{
  content: "";
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  top: -7%;
  width: 80%;
  height: 113%;
  z-index: -1;
}
.sec3 .vix + img{
  z-index: 12;
  position: relative;
}
.sec3 .btn{
  background-color: var(--main3); 
  border-radius: 100px;
  font-family: SukhumvitSet-Bold;
  font-size: 20px;
  min-width: 250px;
  padding: 10px 10px 6px;
  border-right: 8px solid var(--main5);
  border-bottom: 7px solid var(--main5);
  margin-top: 10px;
  display: block;
  margin: auto;
  font-size: 30px;
}
.sec4{
  background-color: #374958;
  padding-top: 40px;
  padding-bottom: 60px;
}
.sec4 h2{ 
  font-size: 64px; 
  font-family: SukhumvitSet-Bold;
  font-weight: bold;
  text-align: center;
  color: #fff; 
  box-shadow: 0px 10px 10px var(--sds-size-depth-100) rgba(0, 0, 0, 0.83); 
}
.sec4 hr{ 
  border-top: 4px solid #fff;
  opacity: 1;
}
.sec4 h6{ 
  font-family: SukhumvitSet-Bold;
  position: absolute;
  left: -40px;
  font-size: 65px;
  color: var(--main3);
  top: -10px;
}
.sec4 h3{   
  font-size: 24px;
  font-family: SukhumvitSet-Bold;
  color: #fff; 
  margin-bottom: 10px;
}
.sec4 p{   
  font-size: 20px;
  font-family: SukhumvitSet-SemiBold;
  color: #fff; 
}
.sec4 p span{    
  color: var(--main3);
}
.sec4 h4{   
  text-align: center;
  font-size: 32px;
  font-family: SukhumvitSet-Bold;
  color: #fff;  
  margin-top: 50px;
}
.sec4 h4 span{   
  color: var(--main3);
}
.sec4 h4 i{   
  padding-left: 20px;
  padding-right: 20px;
  color: var(--main3);
} 
.sec5{ 
  padding-top: 60px;
  padding-bottom: 60px;
}
.sec5 h2{ 
  font-size: 42px;
  color: var(--text-gray);
  font-family: SukhumvitSet-Bold;
  font-weight: bold;
  text-align: center; 
  box-shadow: 0px 10px 10px var(--sds-size-depth-100) rgba(0, 0, 0, 0.83); 
  text-shadow: -.5px -.5px 0 var(--text-gray), .5px -.5px 0 var(--text-gray), -.5px .5px 0 var(--text-gray), .5px .5px 0 var(--text-gray);
}
.sec5 h2 span{ 
  font-size: 48px;
  color: var(--text-gray2); 
  text-shadow: -.5px -.5px 0 var(--text-gray2), .5px -.5px 0 var(--text-gray2), -.5px .5px 0 var(--text-gray2), .5px .5px 0 var(--text-gray2);
}
  





/* 
  transition: .33s all ease-out; 
  font-family: SukhumvitSet-SemiBold;
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }       
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }      
}     
 
 