:root {
  --main1: #545454;  
  --main2: #b0937b;  
  --main3: #2B88D9;  
  --main4: #940000;  
  --text-gray: #535862;
  --text-gray2: #A4A7AE;
  --text-black: #181D27;
  --text-black2: #121212;
  --main-gradient: linear-gradient(180deg, #41E0DE 0%, #0B167F 100%);
} 
@font-face{
  font-family: SukhumvitSet-Bold;
  src: url(../fonts/SukhumvitSet-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-Light;
  src: url(../fonts/SukhumvitSet-Light.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-Medium;
  src: url(../fonts/SukhumvitSet-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-SemiBold;
  src: url(../fonts/SukhumvitSet-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-Text;
  src: url(../fonts/SukhumvitSet-Text.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: SukhumvitSet-Thin;
  src: url(../fonts/SukhumvitSet-Thin.ttf);
  font-style: normal;
  font-variant:initial;
}   
   
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: SukhumvitSet-Text;
  font-style: normal; 
  overflow-x: hidden !important;
}      


/* 
transition: .33s all ease-out;   
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }       
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }      
}     
 
 